<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <!-- 引入组件库 -->
    <script src="https://cdn.bootcss.com/element-ui/2.8.2/index.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body,html, #app{
            width: 100%;
            height: 100%;
        }
        .el-input{
            display: inline-block;
        }
        .el-collapse-item__wrap{
            transition: none;
        }
        .el-tree-node__content{
            display: flex;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container style="height: 100%; border: 1px solid #eee">
            <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            </el-aside>
            <el-main>
                <el-tabs v-model="tab">
                    <el-tab-pane label="基本" name="base">

                    </el-tab-pane>
                    <el-tab-pane label="表" name="table">
                        <el-button size="mini"  @click="add_table" type="primary">添加表</el-button>
                        <el-tabs v-model="tabtab">
                            <el-tab-pane v-for="(table,i) in tables" :label="(i == 0 ? '主表' : '关联表' + i) " :name="'t' + i">
                                <el-select size="mini" v-model="table.name" filterable placeholder="请选择"
                                           @change="e => sel_table(e, table)"
                                >
                                    <el-option
                                            v-for="item in all_tables"
                                            :key="item.name"
                                            :label="item.name"
                                            :value="item.name"
                                    >
                                    </el-option>
                                </el-select>

                                <font>as</font>
                                <el-input size="mini"  v-model="table.as" style="width: 150px;"></el-input>
                                <div v-if="i > 0" title="" name="join">
                                    <div style="padding-top: 10px;padding-bottom: 10px;">关联条件</div>
                                    <el-button type="primary" size="mini" @click="add_join_expr(table)">添加关联</el-button>
                                    <el-table :data="table.join">
                                        <el-table-column prop="left_value" label="左值">
                                            <template slot-scope="scope">
                                                <el-select size="mini" v-model="scope.row.left_value" filterable placeholder="请选择"
                                                >
                                                    <el-option
                                                            v-if="item.name != '*'"
                                                            v-for="item in table.fields"
                                                            :key="item.name"
                                                            :label="table.as + '.' + item.name + '(' + item.comment + ')'"
                                                            :value="item.name"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="" label="运算符">
                                            <template slot-scope="scope">
                                                <el-radio v-model="scope.row.op" label="=">=</el-radio>
                                                <el-radio v-model="scope.row.op" label=">">></el-radio>
                                                <el-radio v-model="scope.row.op" label="<"><</el-radio>
                                                <el-radio v-model="scope.row.op" label=">="><=</el-radio>
                                                <el-radio v-model="scope.row.op" label="<=">>=</el-radio>
                                                <el-radio v-model="scope.row.op" label="<>"><></el-radio>
                                                <el-radio v-model="scope.row.op" label="is null">is null</el-radio>
                                                <el-radio v-model="scope.row.op" label="is not null">is not null</el-radio>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="right_type" label="右类型">
                                            <template slot-scope="scope">
                                                <el-radio v-model="scope.row.right_type" label="field">字段</el-radio>
                                                <el-radio v-model="scope.row.right_type" label="value">数值</el-radio>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="right_value" label="右值">
                                            <template slot-scope="scope">
                                                <el-select v-model="scope.row.right_value" v-if="scope.row.right_type == 'field'" filterable placeholder="请选择" size="mini">
                                                    <el-option
                                                            v-if="item.name != '*'"
                                                            v-for="item in links"
                                                            :key="item.name"
                                                            :label="item.as + '.' + item.name + '(' + item.comment + ')'"
                                                            :value="item.name"
                                                    >
                                                    </el-option>
                                                </el-select>
                                                <el-input size="mini" v-if="scope.row.right_type == 'value' " v-model="scope.row.right_value"></el-input>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="操作">
                                            <template slot-scope="scope">
                                                <el-button size="mini" type="danger" @click="del_item(table.join, scope.$index)">删除</el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                                <div title="" name="select">
                                    <div style="padding-top: 10px;padding-bottom: 10px;">表字段</div>
                                    <el-table
                                            :data="table.fields"
                                            @selection-change="on_field_select_change"
                                            border
                                            style="width: 100%">
                                        <el-table-column
                                                width="55">
                                            <template slot-scope="scope">
                                                <el-checkbox v-model="scope.row.checked"></el-checkbox>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                                prop="name"
                                                label="字段名"
                                                width="180">
                                        </el-table-column>
                                        <el-table-column
                                                prop="comment"
                                                label="字段注释">
                                        </el-table-column>
                                        <el-table-column
                                                prop="as"
                                                label="as"
                                        >
                                            <template slot-scope="scope">
                                                <el-input size="mini" v-model="scope.row.as"></el-input>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                                prop="formula"
                                                label="公式"
                                        ></el-table-column>
                                    </el-table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </el-tab-pane>

                    <el-tab-pane label="条件" name="where">
                        <el-button type="primary" size="mini" @click="add_where">添加条件</el-button>
                        <el-table  :data="where" border style="width: 100%;">
                            <el-table-column label="字段">
                                <template slot-scope="scope">
                                    <el-select size="mini" v-model="scope.row.field" filterable placeholder="请选择"
                                    >
                                        <el-option
                                                v-for="item in links"
                                                :key="item.name"
                                                :label="`${item.as}.${item.name}(${item.comment})`"
                                                :value="`${item.as}.${item.name}`"
                                        >
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-table-column>
                            <el-table-column label="运算符">
                                <template slot-scope="scope">
                                    <el-checkbox v-model="scope.row.ops" label="all">all</el-checkbox>
                                    <el-checkbox v-model="scope.row.ops" label="=">=</el-checkbox>
                                    <el-checkbox v-model="scope.row.ops" label=">">></el-checkbox>
                                    <el-checkbox v-model="scope.row.ops" label="<"><</el-checkbox>
                                    <el-checkbox v-model="scope.row.ops" label=">="><=</el-checkbox>
                                    <el-checkbox v-model="scope.row.ops" label="<=">>=</el-checkbox>
                                    <el-checkbox v-model="scope.row.ops" label="<>"><></el-checkbox>
                                    <el-checkbox v-model="scope.row.ops" label="like">like</el-checkbox>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <el-button type="danger" size="mini" @click="del_item(where, scope.$index)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
<!--                        <div style="width: 800px;">-->
<!--                            <el-tree-->
<!--                                    :data="where"-->
<!--                                    node-key="id"-->
<!--                                    default-expand-all-->
<!--                                    :expand-on-click-node="false"-->
<!--                                    :render-content="renderContent"-->
<!--                            >-->
<!--                            </el-tree>-->
<!--                        </div>-->
                    </el-tab-pane>
                    <el-tab-pane label="排序" name="order">

                    </el-tab-pane>
                    <el-tab-pane label="自定义" name="custom">
                        <el-divider>字段追加</el-divider>
                        <el-input type="textarea"></el-input>
                        <el-divider>表追加</el-divider>
                        <el-input type="textarea"></el-input>
                        <el-divider>条件追加</el-divider>
                        <el-input type="textarea"></el-input>
                        <el-divider>末尾追加</el-divider>
                        <el-input type="textarea"></el-input>
                    </el-tab-pane>
                    <el-tab-pane label="SQL预览" name="preview">
                    </el-tab-pane>
                    <el-tab-pane label="测试" name="test">
                    </el-tab-pane>
                </el-tabs>

            </el-main>
        </el-container>
    </div>
</body>
</html>
<script>
    var app = new Vue({
        el:"#app",
        data(){
            return {
                tables:[],
                all_tables:{},
                // where: [
                //     {
                //         type: "group",
                //         label: "条件组",
                //         children: []
                //     }
                // ],
                where: [],
                tab: "base",
                tabtab:"t0",
            }
        },
        mounted(){
            this.get("http://127.0.0.1:8084/sqltool/sqltool/getTables", res => {
                this.all_tables = res
            })
        },
        computed:{
            links(){
                var items = [];
                this.tables.forEach(v => {
                    v.fields.forEach(vv => {
                        items.push({
                            name: vv.name,
                            comment: vv.comment,
                            as: v.as
                        })
                    }) ;
                });
                return items;
            }
        },

        methods: {
            add_table() {
                var obj = {
                    name: "请选择",
                    fields: [],
                    actives: [],
                    as: "t" + this.tables.length,
                    join:[],

                };
                this.tables.push(obj)
                if(this.tables.length > 0){
                    this.tabtab = 't' + (this.tables.length - 1)
                }
            },
            sel_table(e, table) {
                console.log(arguments)
                table.fields = []
                var item = {
                    name: "*",
                    comment:"所有字段，选择该项的时候，其余的字段设置无效",
                    checked: false,
                    as:"*"
                };
                table.fields.push(item);

                this.all_tables[e].fields.forEach(i => {
                    var item = JSON.parse(JSON.stringify(i));
                    //补充字段
                    // item.custom = false;
                    item.checked = false;
                    item.as = item.name;
                    table.fields.push(item)
                });
            },
            on_field_select_change(val){
                console.log(val)
            },
            add_join_expr(table){
                table.join.push({
                    left_type:"",
                    left_value:"",
                    op:"=",
                    right_type:"field",
                    right_value:""
                })
            },
            /**
             * 删除
             * @param data
             * @param index
             */
            del_item(data,index){
                data.splice(index,1)
            },

            add_where(){
                this.where.push({
                    field: "",
                    ops: []
                })
            },

            /**
             * 条件节点渲染
             */
            renderContent(h, { node, data, store }){
                console.log(node,data)
                var self = this;
                return h(
                    "span", {
                        style:{
                            display: "flex",
                            "align-items": "center",
                            "justify-content": "space-between",
                            "flex": 1
                        }
                    },
                    [
                        h(
                            'div',{
                                style:{
                                    color: data.type == 'group' ? "#409EFF" : "#F1AB16"
                                },
                            },[
                                data.label
                            ]
                        ),

                        h(
                            "div",{},[
                                data.type == 'group' ? h("el-button", {
                                    attrs: {
                                        type: "text",
                                    },
                                    "on": {
                                        "click": function () {
                                            data.children = data.children || []
                                            data.children.push({
                                                type: "group",
                                                label: "条件组",
                                                children: []
                                            });
                                        }
                                    },
                                }, ["添加条件组"]) : undefined,
                                data.type == 'group' ?
                                h("el-button", {
                                    attrs:{
                                        type:"text"
                                    },
                                    "on": {
                                        "click": function () {
                                            data.children = data.children || []
                                            data.children.push({
                                                type: "item",
                                                label: "条件",
                                                value: "123"
                                            });
                                        }
                                    },
                                }, ["添加条件"]) : undefined,
                                data.type == 'item' ? h(
                                    "el-button", {
                                        attrs: {
                                            type: "text"
                                        },
                                        on:{
                                            click: function () {

                                            }
                                        }
                                    }, ["编辑"]
                                ): undefined,
                                node.level > 1 ? h("el-button", {
                                    attrs:{
                                        type:"text",
                                    },
                                    "on":{
                                        click: function () {
                                            var idex = node.parent.data.children.indexOf(data);
                                            node.parent.data.children.splice(idex, 1);
                                        }
                                    }
                                }, ["删除"]) : undefined
                            ]
                        )
                    ]
                )
            },

            get(url, data, callback) {
                if (!callback && data && typeof data == 'function') {
                    callback = data;
                    data = {};
                }
                fetch(url).then(res => res.json()).then(res => callback.call(this, res));
            }
        }
    });

    console.log(app)

    // var get =
    //
    // $.ajaxSetup({
    //     cache: false
    // });
    // $.get("http://127.0.0.1:8084/sqltool/sqltool/getTables", res => {
    //     app.all_tables = res;
    //     alert("ok")
    // }, "json");
    //
    // // fetch('').then(res => res.json()).then(res => {
    // // });
</script>